<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/css/bootstrap.css" />
  <link rel="stylesheet" href="/static/css/smoothness/jquery-ui-1.8.19.custom.css" />
  <!--  <link rel="stylesheet" href="/static/style.css" /> -->
  <link rel="stylesheet" href="/static/css/jquery.ptTimeSelect.css" />
  <link rel="stylesheet" href="/static/css/jquery.gallery.css" />
  <script data-main="/static/js/main" src="/static/js/libs/require/require.js" ></script>

  <title>{% block pagetitle %}Home{% endblock %}</title>

  
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul id="nav1" class="nav">
            <!--
          <li class="active">
            <a class="brand" style="cursor:pointer" href="/">heartbeat</a>
          </li>
          <li><a><i id="icon_back" class="icon-backward"></i></a></li>
          <li><a><i id="icon_play" class="icon-play"></i></a></li>
          <li><a><i id="icon_heart" class="icon-heart"></i></a></li>
          <li><a><i id="icon_forward" class="icon-forward"></i></a></li>
          <li><a id="artist" href="#"></a></li>
          <li id="space"></li>
          <li><a id="song" href="#"></a></li>
          -->
        </ul>
        <ul id="nav2" class="nav">
        </ul>
        </ul>
      </div>
    </div>
  </div>
  <div id="content_container" class="container">
    
    <div class="row">
    <div class="span1">
      ADS<br>
      ADS<br>
      ADS<br>
      ADS<br>
      ADS<br>
      ADS<br>
      ADS<br>
      ADS<br>
    </div>
    <div class="span10">
      <div id="player"></div>
      <div id="content">
        {% block content %} {% endblock %}
      </div>

    </div>
    <div class="span1">
ADS<br>
ADS<br>
ADS<br>
ADS<br>
ADS<br>
ADS<br>
ADS<br>
ADS<br>
ADS<br>
ADS<br>

      </div>
    </div>
  </div>
</body>
</html>
          
            
