<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <link rel="stylesheet/less" type="text/css" href="/static/css/application.less" />
    <script src="/static/js/less-1.3.1.min.js"></script>
    <title>Heartbeat</title>
  </head>
  <body>
  <div id="wrapper">
    <div class="navbar">
      <div class="navbar-inner-hb">
        <div class="container">
          <a class="brand">
            Heartbeat
          </a>
          <ul style="float: right;" class="nav">
            <li><a href="#">Music Lovers</a></li>
            <li><a href="#">Artists</a></li>
            <li><a href="#">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row bar">
        <div class="span7">
          <div class="box-padding">
          <h1>
            A new way to music.
          </h1>
          <br />
          <h2>
            Sell yourself. Give the fans who love you an opportunity to spend a day in <strong>your</strong> life.
          </h2>
        </div>
        </div>
        <div class="span5">
          <div class="leftbar">
            Sign up for early access to our beta
            <br />
            <input placeholder="email@address.com" type="text" name="email" />
            <br />
            <button class="btn btn-large btn-primary">Sign up, its free</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row push-down">
        <div class="span4">
          <div class="row">
            <div class="span4">
              <div class="icon-header">
                <i class="icon-bullhorn"></i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="span4">
              <h4>download music, free</h4>
              Tired of paying too much for music, giving your money away to record labels? At Heartbeat you can download music for free and donate if you like them. The artist gets 90% of everything you donate!
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="row">
            <div class="span4">
              <div class="icon-header">
                <i class="icon-group"></i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="span4">
              <h4>meet fans</h4>
              Your time should be spent recording music and connecting with fans. We make that easy. You can update fans, ask for feedback, figure out where to tour, fund an album, and more! If you can't do it, just ask us to make it a reality!
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="row">
            <div class="span4">
              <div class="icon-header">
                <i class="icon-cog"></i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="span4">
              <h4>get analytics</h4>
              Your time should be spent recording music and connecting with fans. We make that easy. You can update fans, ask for feedback, figure out where to tour, fund an album, and more! If you can't do it, just ask us to make it a reality!
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div style="display: none;" class="span12">
          <div class="circle">
            <div class="horiz-cover">
              <div class="pull-left">
                Listeners
              </div>
              <div class="pull-right">
                Artists
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="display: none;" class="row">
        <div class="span12">
          <p class="center">
          Artists can crowdfund albums and get feedback from their most loyal fans <br />
          on albums and songs. Artists ask their fans where they should tour and <br />
          decide for themselves what their business model should look like.
          </p>
        </div>
      </div>
      <form>
      <div class="row">
        <div class="span12 center">
        </div>
      </div>
      <div class="row">
        <div class="span12 center">
        </div>
      </div>
    </form>
    </div>
    <div class="push"></div>
  </div>
    <div class="footer">


    </div>
  </body>
</html>

