<div class="well">
    <dt>
  <img class="pull-left img-rounded" width=140 src="<%= cover %>" /><h2><a href="/artists/<%= artist.id %>/"><%= artist.name %></a> - <%= title %></h2> 
  <br />
  </dt>
  <dd>
  Released <time class="timeago" datetime="<%= release_date %>"></time><br />
  <i class="icon-download-alt"></i>
  <a href="/artists/albums/<%= id %>/">details</a>
<table id="songs" style="width:100%" class="unstyled">
<!-- <% _.each(songs, function(song) { %>
  <li>
    <%= song.name %> &nbsp;&nbsp; download
  </li>
<% }); %>
-->
</table>
</dd>
</div>
