<div class="row">
<div class="span5 well">
    <dt>
  <img class="pull-left img-rounded" width=140 src="<%= cover %>" /><h2><%= title %></h2> 
  </dt>
  <dd>
  Released <time class="timeago" datetime="<%= release_date %>"></time><br />
  <i class="icon-download-alt"></i>
  <a href="/artists/albums/<%= id %>/">details</a>
<table id="songs" style="width:100%" class="table-striped">
<% _.each(songs, function(song, id) { %>
<!--  <tr>
      <td><%= song.name %></td><td><i id=<%= id %> class="icon-play play"></i></td><td>download</td>
  </tr>
  -->
<% }); %>
</table>
</dd>
</div>
</div>
