<div class="hero-unit">
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <% _.each(images, function(image, index) { %>
      <div class="item<% if (index == 0) { %> active <% } %>">
        <img class="img-rounded" src=<%= image.image %> />
      </div>
      <% }) %>
    </div>
  </div>
  <h1><%= name %></h1>
  <p><%= bio %></p>
  <button id="donate" class="btn btn-primary">Donate</button> 
  <% if (user_artist_id == id) { %>
    <button class="btn btn-primary">Edit</button>
  <% } else if (!following) { %>
    <button id="follow" class="btn btn-primary">Follow</button>
  <% } else { %>
    <button id="unfollow" class="btn btn-primary">Unfollow</button>
  <% } %>
</div>
<div class="row">
  <div id="album_list" class="span5">
  </div>
</div>
