<% if (username != "") { %>
  <li id="username">
    
  <a <% if (artist_id > 0) { %> href="/artists/<%= artist_id %>/"<% } %> id="username_value">
      <% if (username != "") { %> <%= username %> <% } %>
    </a>
  </li>
<% } %>
<% if (username == "") { %>
<li class="dropdown" id="login">
  <a class="dropdown-toggle" id="username_login" style="cursor:pointer" data-toggle='dropdown'>
    login
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu" id="dropdown-menu">
    <form name="login" method="POST" action="/api/users/profile/login/">
      <div style="display:none">
        <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="<%= csrf_token %>" />
      </div>
      <li class="control-group error" id="error">
        <label class="control-label" for="inputError"><%= error %></label>
      </li>
      <li><label>username</label><input type="text" id="username_log" name="username"></input></li>
      <li><label>password</label><input type="password" id="password_log" name="password"></input></li>
      <li><input type="submit" value="log in!" id="login_button"></input></li>
    </form>
  </ul>
</li>
<% } %>
<% if (username != "") { %>
  <li id="logout">
    <a>logout</a>
  </li>
<% } %>
<% if (username == "") { %>
<li id="register">
  <a href="/register/" style="cursor:pointer">register</a>
</li>
<% } %>

<% if (artist_id > 0) { %> <li id="admin"> <a href="/artists/<%= artist_id %>/admin/">admin</a></li> 
<% } %>
