<li <% if (username == "") { %> style="display:none" <% } %> 
    id="username">
  <a id="username_value">
    <% if (username != "") { %> <%= username %> <% } %>
  </a>
</li>
<li <% if (username != "") { %> style="display:none" <% } %> class="dropdown<% if (open) { %> open<% } %>" id="login">
  <a id="username_login" class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer" >login</a>
  <!-- <b class="caret"></b> -->
  <ul class="dropdown-menu" id="dropdown-menu">
    <form name="login" method="POST" action="/api/users/profile/login/">
      <div style="display:none">
        <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="<%= csrf_token %>" />
      </div>
      <li class="control-group error" id="error">
        <label class="control-label" for="inputError"><%= error %></label>
      </li>
      <li><label>username</label><input type="text" id="username_log" name="username"></input></li>
      <li><label>password</label><input type="password" id="password_log" name="password"></input></li>
      <li><input type="submit" value="log in!" id="login_button"></input></li>
    </form>
  </ul>
</li>
<li <% if (username == "") { %> style="display:none" <% } %> id="logout">
  <a>logout</a>
</li>
<li <% if (username != "") { %> style="display:none" <% } %> id="register">
  <a href="/register/" style="cursor:pointer">register</a>
</li>
