<form action="/api/users/features/" class="form-horizontal" method="POST">

  <input id="created_by" type="hidden" name="created_by" value=<%= user_id %> />
  <div class="control-group">
    <label class="control-label">Feature Name</label>
    <div class="controls">
      <input id="slug" type="text" name="slug" />
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input type="submit" value="Add" />
      <input type="button" id="nevermind" value="Nevermind" />
    </div>
  </div>
</form>
