<li><a class="icon"><i id="icon_back" class="icon-backward"></i></a></li>
<li><a class="icon">
  <i id="play-pause" rel="tooltip"
    <% if (is_playing) { %>
        class="icon-pause"
    <% } else { %>
        class="icon-play"
    <% } %>>
  </i>
  </a>
  <% if (play_error) { %>
  <p id="play_error" class="tip">
    <%= play_error %>
  </p>
  <% } %>
</li>
<li><a class="icon"><i id="icon_heart" class="icon-heart"></i></a></li>
<li><a class="icon"><i id="icon_forward" class="icon-forward"></i></a></li>
<% if (playing) { %>
  <li>
    <a id="artist" href="/artists/<%= playing.artist_id %>/"><%= playing.artist %></a>
  </li>
<li id="space"></li>
<li><a id="song" href=""><%= playing.name %></a></li>
  <% } %>
