.tip {
  font-size: 11px;
  color: #D1D1D1;
  background:#1d1d1d;
  display:none; /*--Hides by default--*/
  padding:6px;
  position:absolute;    z-index:1000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.carousel {
  padding-right: 50px;
  width: 300px;
  height: 300px;
  margin-top:-40px;
}
.song .pushright {
  margin-left: 20px;
}
.input-append.date {
  display: block;
}
